@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.container {
  text-align: center;
}

.countdown-box {
  border: 5px solid #AEC3AE;
  border-radius: 10px;
  padding: 20px;
  background-color: #EEE0C9;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
}

h1 {
  color: #5C8374;
  font-size: 30px;
  margin-bottom: 20px;
}

.timer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
}

label {
  margin-right: 5px;
  color: #121f16;
  font-weight: 1000;
}

input[type="number"] {
  width: 40px;
  padding: 5px;
  font-size: 16px;
  border: none;
  background-color: transparent;
  color: #333;
  text-align: center;
  border: 1px solid #333;
  border-radius: 5px;
  box-sizing: border-box;
}

.btn {
  background-color: #9F91CC;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.btn:hover {
  background-color: #BEADFA;
}

#countdown {
  font-size: 48px;
  color: #333;
  margin-top: 40px;
  animation: countdownAnimation 1s linear infinite;
}

#countdown.time-up {
  font-size: 32px;
}
